[submodule "pac3"]
	path = pac3
	url = https://github.com/CapsAdmin/pac3
	branch = develop
[submodule "acf-3"]
	path = acf-3
	url = https://github.com/ACF-Team/acf-3
[submodule "acf-3-missiles"]
	path = acf-3-missiles
	url = https://github.com/ACF-Team/acf-3-missiles
[submodule "ulx"]
	path = ulx
	url = https://github.com/TeamUlysses/ulx
[submodule "ulib"]
	path = ulib
	url = https://github.com/TeamUlysses/ulib
[submodule "utime"]
	path = utime
	url = https://github.com/TeamUlysses/utime
[submodule "advdupe2"]
	path = advdupe2
	url = https://github.com/wiremod/advdupe2
[submodule "wire-extras"]
	path = wire-extras
	url = https://github.com/wiremod/wire-extras
[submodule "starfallex"]
	path = starfallex
	url = https://github.com/thegrb93/starfallex
[submodule "easychat"]
	path = easychat
	url = https://github.com/earu/easychat
[submodule "lua-code-editor"]
	path = lua-code-editor
	url = https://github.com/earu/lua-code-editor
[submodule "wire"]
	path = wire
	url = https://github.com/wiremod/wire
[submodule "scoreboard"]
	path = scoreboard
	url = https://github.com/Sandboxen/scoreboard
[submodule "precision-alignment"]
	path = precision-alignment
	url = https://github.com/sandboxen/precision-alignment
[submodule "falcos-prop-protection"]
	path = falcos-prop-protection
	url = https://github.com/Sandboxen/falcos-prop-protection
[submodule "neo-chatsounds"]
	path = neo-chatsounds
	url = https://github.com/Earu/neo-chatsounds
[submodule "cfw"]
	path = cfw
	url = https://github.com/ACF-Team/cfw
[submodule "tcore"]
	path = tcore
	url = https://github.com/Sandboxen/tcore
[submodule "stcasinosuite"]
	path = stcasinosuite
	url = https://github.com/sandboxen/stcasinosuite
[submodule "saitohud"]
	path = saitohud
	url = https://github.com/Sandboxen/saitohud
[submodule "epoe"]
	path = epoe
	url = https://github.com/Metastruct/epoe
[submodule "wuma"]
	path = wuma
	url = https://github.com/Sandboxen/wuma
[submodule "fishingmod"]
	path = fishingmod
	url = https://github.com/Sandboxen/fishingmod
